<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shopping Cart Service</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="http://img01.shopzilla-images.com/s2static/us/sz/1b0e6c52/sz2/common/images/shopzilla.ico" />
</head>
<body>
<div class="content">
    <h1>Shopping Cart Service</h1>
    <div id="filters" class="button-group">
        <button class="button is-checked" data-filter="*">show all</button>
        <button class="button" data-filter=".price1">price1</button>
        <button class="button" data-filter=".price2">price2</button>
        <button class="button" data-filter=".price3">price3</button>
    </div>
    <div id="container" class="transitions-enabled infinite-scroll clearfix masonry">
        <div class="item">
        </div>
    </div> <!-- container -->

    <div class="loader-wrapper">
        <div class="loader">
            <p>loading...</p>
            <img alt="loading" src="http://i.imgur.com/qkKy8.gif">
        </div>
    </div>

<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
<script src="/assets/jquery.imagesloaded.min.js"></script>
<script src="/assets/jquery.isotope.min.js"></script>
<script src="http://isotope.metafizzy.co/beta/bower_components/classie/classie.js"></script>
<script>
  $(function(){

    var load = 0;
    var reachEnd = 0;
    $('.loader').hide();
    $(window).scroll(function(){
            if($(window).scrollTop() == $(document).height() - $(window).height()) 
            {
                if (reachEnd == 1) {
                    //$('.loader img').hide();
                    //$('.loader p').text("No more items to load");
                    $('.loader').show().delay(1000).fadeOut();
                }
                else {
                    $('.loader').show();
                    //var appendUrl = "/services/shoppingcart/v1/shoppingcart/append";
                    var appendUrl = "/services/shoppingcart/v1/shoppingcart/apicall/shopperId/1";
                    var appendData = {};
                    appendData['load'] = load;
                    appendData['format'] = 'json';

                    $.ajax({
                        type: "GET",
                        data : appendData,
                        url: appendUrl,
                        contentType: 'application/json',
                        dataType: 'json',
                        success:function(data) {
                            var imgs = [];
                            var descriptions = [];
                            var title = [];
                            var redirect_url = [];
                            var price = [];
                            var i = 0;
                            $.each(data, function() {
                                $.each(this, function(k, v) {
                                    if (k == 'image_url') {
                                        imgs[i] = v[3];
                                    } else if (k == 'description') {
                                        descriptions[i] = v; 
                                    } else if (k == 'title') {
                                        title[i] = v;
                                    } else if (k == 'redirect_url') {
                                        redirect_url[i] = v;
                                    } else if (k == 'price') {
                                        price[i] = v;
                                    }
                                });
                                i++;
                            });
                            var newDivs = '';
                            console.log(price);
                            //console.log(descriptions);
                            if (jQuery.isEmptyObject(imgs)) {
                                reachEnd = 1;
                                $('.loader img').hide();
                                $('.loader p').text("No more items to load");
                                $('.loader').show().delay(1000).fadeOut();
                            } else {
                                $('.loader').hide();
                                for (var i = 0; i < imgs.length; i++) {
                                    //var price = "price" + Math.floor(Math.random()*4);
                                    var priceDiv = '';
                                    if (price[i] > 0) {
                                        priceDiv = "<div class=price>$" + price[i] + "</div>";
                                    }
                                    newDivs = newDivs + 
                                    "<div class='item'>\
                                        <a href=" + redirect_url[i] + ">\
                                            <img class=image src=" + imgs[i] + " target='_blank' />\
                                        </a>\
                                        <div class=title>" + title[i] + "</div>"
                                        + priceDiv +
                                        "<div class=description>" + descriptions[i] +"</div>\
                                    </div>";
                                };
                                newItems = $(newDivs).appendTo('#container');
                                $('#container').imagesLoaded( function(){
                                    $("#container").isotope('appended', newItems );
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                          console.log(error);
                          console.log(status);
                        }
                    });
                    load++;
                }
            }
    });
    
    
    var $container = $('#container').imagesLoaded( function() {
        /*var iso = new Isotope( '#container', {
            itemSelector: '.item',
        });*/
        $container.isotope({
            itemSelector : '.item'
        });
        // filter items on button click
        /*$('#filters').on( 'click', 'button', function() {
            var filterValue = $(this).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });*/
        var filterFns = {
        // show if number is greater than 50
            price1: function( itemElem ) {
              var price = getText( itemElem.querySelector('.price') );
              price = parseFloat(Number( price.replace(/[^0-9\.]+/g,"")));
              return (price > 50 && price < 100);
            },
            price2: function( itemElem ) {
              var price = getText( itemElem.querySelector('.price') );
              price = parseFloat(Number( price.replace(/[^0-9\.]+/g,"")));
              return price > 100;
            },
            price3: function( itemElem ) {
              var price = getText( itemElem.querySelector('.price') );
              price = parseFloat(Number( price.replace(/[^0-9\.]+/g,"")));
              return price < 50;
            },
        };

        // bind filter button click
        var filtersElem = document.querySelector('#filters');
        eventie.bind( filtersElem, 'click', function( event ) {
        // only work with buttons
            if ( !matchesSelector( event.target, 'button' ) ) {
                return;
            }
            var filterValue = event.target.getAttribute('data-filter');
            // use matching filter function
            filterValue = filterFns[ filterValue ] || filterValue;
            iso.arrange({ filter: filterValue });
        });

        // change is-checked class on buttons
        var buttonGroups = document.querySelectorAll('.button-group');
        for ( var i=0, len = buttonGroups.length; i < len; i++ ) {
            var buttonGroup = buttonGroups[i];
            radioButtonGroup( buttonGroup );
        }
    });
});

function radioButtonGroup( buttonGroup ) {
  eventie.bind( buttonGroup, 'click', function( event ) {
    // only work with buttons
    if ( !matchesSelector( event.target, 'button' ) ) {
      return;
    }
    classie.remove( buttonGroup.querySelector('.is-checked'), 'is-checked' );
    classie.add( event.target, 'is-checked' );
  });
}
</script>

</div> <!-- content -->
</body>
</html>