<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shopping Cart Service</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="http://img01.shopzilla-images.com/s2static/us/sz/1b0e6c52/sz2/common/images/shopzilla.ico" />
</head>
<body>
<div class="content">
    <h1>Shopping Cart Service</h1>
    <form id="search-bar">
        <input type="text" id="search-name" name="search-name">
        <input type="submit" name="search">
    </form>
    <div id="filters" class="button-group">
        <button class="button is-checked" data-filter="*">show all</button>
        <button class="button" data-filter=".price1">0-50</button>
        <button class="button" data-filter=".price2">50-100</button>
        <button class="button" data-filter=".price3">100-200</button>
        <button class="button" data-filter=".price4">200-500</button>
        <button class="button" data-filter=".price5">500+</button>
    </div>
    <div id="container" class="transitions-enabled infinite-scroll clearfix masonry">
        <div class="item">
        </div>
    </div> <!-- container -->

    <div class="loader-wrapper">
        <div class="loader">
            <p>loading...</p>
            <img alt="loading" src="http://i.imgur.com/qkKy8.gif">
        </div>
    </div>

<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
<script src="/assets/jquery.imagesloaded.min.js"></script>
<script src="/assets/jquery.isotope.min.js"></script>
<script src="http://isotope.metafizzy.co/beta/bower_components/classie/classie.js"></script>
<script>
var load = 0;
function addNewItems(search_name) {
    console.log("add new item");
    console.log(load);
                        $('.loader').show();
                    //var appendUrl = "/services/shoppingcart/v1/shoppingcart/append";
                    var appendUrl = "/services/shoppingcart/v1/shoppingcart/apicall/shopperId/1";
                    var appendData = {};
                    appendData['load'] = load;
                    appendData['format'] = 'json';
                    appendData['search-name'] = search_name;
                    console.log(search_name);

                    $.ajax({
                        type: "GET",
                        data : appendData,
                        url: appendUrl,
                        contentType: 'application/json',
                        dataType: 'json',
                        success:function(data) {
                            var imgs = [];
                            var descriptions = [];
                            var title = [];
                            var redirect_url = [];
                            var price = [];
                            var i = 0;
                            $.each(data, function() {
                                $.each(this, function(k, v) {
                                    if (k == 'image_url') {
                                        imgs[i] = v[3];
                                    } else if (k == 'description') {
                                        descriptions[i] = v; 
                                    } else if (k == 'title') {
                                        title[i] = v;
                                    } else if (k == 'redirect_url') {
                                        redirect_url[i] = v;
                                    } else if (k == 'price') {
                                        price[i] = v;
                                    }
                                });
                                i++;
                            });
                            var newDivs = '';
                            console.log(price);
                            //console.log(descriptions);
                            if (jQuery.isEmptyObject(imgs)) {
                                reachEnd = 1;
                                $('.loader img').hide();
                                $('.loader p').text("No more items to load");
                                $('.loader').show().delay(1000).fadeOut();
                            } else {
                                $('.loader').hide();
                                for (var i = 0; i < imgs.length; i++) {
                                    price_class = "";
                                    if (price[i]>0 && price[i]<=50) {
                                        price_class = "price1";
                                    } else if (price[i]>=50 && price[i]<=100) {
                                        price_class = "price2";
                                    } else if (price[i]>=100 && price[i]<=200) {
                                        price_class = "price3";
                                    } else if (price[i]>=200 && price[i]<=500) {
                                        price_class = "price4";
                                    } else if (price[i]>=500) {
                                        price_class = "price5";
                                    } 
                                    //var price = "price" + Math.floor(Math.random()*4);
                                    var priceDiv = '';
                                    if (price[i] > 0) {
                                        priceDiv = "<div class=price>$" + price[i] + "</div>";
                                    }
                                    newDivs = newDivs + 
                                    "<div class='item " + price_class + "'>\
                                        <a href=" + redirect_url[i] + ">\
                                            <img class=image src=" + imgs[i] + " target='_blank' />\
                                        </a>\
                                        <div class=title>" + title[i] + "</div>"
                                        + priceDiv +
                                        "<div class=description>" + descriptions[i] +"</div>\
                                    </div>";
                                };
                                newItems = $(newDivs).appendTo('#container');
                                $('#container').imagesLoaded( function(){
                                    $("#container").isotope('appended', newItems );
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                          console.log(error);
                          console.log(status);
                        }
                    });
                    load++;
}
function getUrlParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
}         
  $(function(){

    
    var reachEnd = 0;
    $('.loader').hide();
    console.log(getUrlParameter('search'));
    if (getUrlParameter('search') != "Submit") {
        addNewItems("cloth");
        load++;
    }
        $( "#search-bar" ).submit(function( event ) {
            console.log("submit clicked");

            $("#container").empty();
            load = 0;
            addNewItems($('#search-name').val());
            console.log($('#search-name').val());
            event.preventDefault();
            load++;
        });
    

    $(window).scroll(function(){
            if($(window).scrollTop() == $(document).height() - $(window).height()) 
            {
                if (reachEnd == 1) {
                    $('.loader').show().delay(1000).fadeOut();
                }
                else {
                    if ($('#search-name').val() == "") {
                        console.log("yes cloth");
                        addNewItems("cloth");
                    } else {
                        console.log("no other");
                        addNewItems($('#search-name').val());
                    }
                }
            }
    });
    
    
    var $container = $('#container').imagesLoaded( function() {

        $container.isotope({
            itemSelector : '.item'
        });
        // filter items on button click
        $('#filters').on( 'click', 'button', function() {
            var filterValue = $(this).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        var buttonGroups = document.querySelectorAll('.button-group');
        for ( var i=0, len = buttonGroups.length; i < len; i++ ) {
            var buttonGroup = buttonGroups[i];
            radioButtonGroup( buttonGroup );
        }
    });
});

function radioButtonGroup( buttonGroup ) {
  eventie.bind( buttonGroup, 'click', function( event ) {
    // only work with buttons
    if ( !matchesSelector( event.target, 'button' ) ) {
      return;
    }
    classie.remove( buttonGroup.querySelector('.is-checked'), 'is-checked' );
    classie.add( event.target, 'is-checked' );
  });
}
</script>

</div> <!-- content -->
</body>
</html>